.App {
  text-align: center;
}
.root {
  --light-yellow: navajowhite;
}
/* not found page */
.not-found {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  place-content: center;
  color: white;
}
.not-found-img {
  width: 100px;
  animation: cinema 1s ease-in-out;
}
/* header */
.header-img {
  width: 50px;
}
header {
  background-color: navajowhite;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.header-with-user {
  grid-template-columns: 1fr 4fr 1fr 1fr;
}
.log-out {
  font-weight: bolder;
  font-size: 1.1rem;
  border: 2px dashed black;
  padding: 5px 10px;
}
.log-out:hover {
  transform: scale(1.1);
  background-color: orange;
}
header h1 {
  justify-self: start;
}
header button {
  border: none;
  background-color: transparent;
  justify-self: end;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 10fr;
  overflow: scroll;
}
main {
  background-color: black;
  display: grid;
  place-content: center;
  padding: 20px;
  color: white;
}
.login-div,
.sign-up-div {
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed mediumturquoise;
}
.login-div h2,
.sign-up-div h2 {
  margin-bottom: 10px;
}
.login-div form {
  display: grid;
  grid-gap: 5px;
  position: relative;
}

.login-div form input,
.sign-up-div form input {
  border: none;
  height: 30px;
  padding-left: 20px;
  border-radius: 5px;
}
.sign-up-button {
  background-color: lightcoral;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
.button-eye {
  position: absolute;
  background-color: transparent;
  border: none;
  right: 5px;
  top: 40px;
}
.eye {
  width: 20px;
}
.sign-up-div form {
  display: grid;
  grid-gap: 5px;
}
.sign-up-div button,
.input-submit {
  margin-top: 5px;
  border: none;
  border-radius: 10px;
  background-color: mediumturquoise;
  padding: 5px 10px;
}

.sign-up-div button:active,
.sign-up-div button:hover,
.input-submit:active,
.input-submit:hover {
  transform: scale(1.1);
  filter: brightness(1.3);
}
.movie-container {
  grid-template-columns: auto;
  gap: 10px;
}
.film-card {
  color: white;
  border: 2px dashed mediumturquoise;
  margin: 10px;
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 5px;
}
.recommend-card {
  grid-template-columns: 1fr;
}
.movie-features {
  background: linear-gradient(30deg, mediumslateblue, mediumspringgreen);
  padding: 3px 10px;
  border-radius: 5px;
  color: black;
}

.movie-duration {
  border: 2px solid mediumturquoise;
  padding: 3px 10px;
}
.movie-info {
  display: grid;
  justify-items: start;
  gap: 5px;
}
.movie-info p {
  text-align: left;
}
.movie-date {
  color: navajowhite;
}

.time-selection {
  padding: 5px;
  display: grid;
  grid-template-columns: auto auto;
}
.show-time {
  background-color: tomato;
  padding: 3px 10px;
  margin: 0px 5px 0px 5px;
  border-radius: 4px;
}
.buy-btn {
  border: 2px dashed red;
  background-color: tomato;
  padding: 5px 10px;
  font-weight: bolder;
}
.buy-btn:hover {
  filter: brightness(1.1);
}
.buy-btn:active {
  filter: brightness(1.1);
}
/* admin page */
.admin-div {
  color: #ffffff;
  display: grid;
  width: 90vw;
  grid-template:
    "event recomand info" 1fr
    "form form form" auto /
    auto auto auto;

  border: 2px dashed mediumturquoise;
  padding: 10px;
  justify-items: center;
  gap: 10px;
}
.button-div {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  gap: 20px;
}
.event {
  grid-area: event;
}
.recomadation-card {
  grid-area: recomand;
}
.cinema-infomation {
  grid-area: info;
}
.add-event-section {
  grid-area: form;
}
.agenda-section {
  padding: 10px;
  border: 2px dashed mediumturquoise;
  display: grid;
  justify-items: center;
  place-items: center;
}

.agenda-form {
  padding: 10px;
  margin: 10px;
}
.date-input {
  margin-left: 10px;
}

.radio-label {
  margin-right: 5px;
}

.movie-list {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-items: center;
}
.create-event-btn {
  color: black;
  background-color: transparent;
  border: 2px dashed mediumturquoise;
  padding: 2px 5px;
  background-color: mediumspringgreen;
  border-radius: 5px;
}
.cancel-btn {
  color: white;
  background-color: transparent;
  border: 2px dashed crimson;
  padding: 2px 5px;
  background-color: coral;
  border-radius: 5px;
}
.confirm-btn {
  background: darkorange;
  padding: 5px 10px;
  font-size: 1.2rem;
  color: white;
  border: none;
  border-radius: 5px;
}
.confirm-btn:hover {
  filter: brightness(0.8);
}
.create-event-btn:hover {
  transform: scale(1.1);
}
.checkbox-section {
  list-style: none;
  line-height: 2.5rem;
}
.movie-checkbox {
  display: none;
}

input[type="checkbox"] + label {
  padding: 3px;
  border-radius: 2px;
  border: 2px dashed #00ffff;
}

input[type="checkbox"]:checked + label {
  background-color: #ff8e3c;
  color: black;
}
.cinema-info {
  border: 2px dashed mediumturquoise;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  padding: 5px 10px;
  width: fit-content;
}

.staff-name {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  width: 200px;
  align-items: center;
  border: 2px dashed mediumturquoise;
  margin: 5px;
}

.employee-pic {
  width: 30px;
}
.cinema-location {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.cinema-info section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.cinema-info button {
  padding: 5px 10px;
  border-radius: 5px;
}
.policy-section {
  display: grid;
}
.policy-price-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.cinema-dashboard-p {
  background: indianred;
  border-radius: 2px;
}
.simple-film-card {
  border: 2px dashed mediumturquoise;
  padding: 5px;
  display: grid;
  grid-template-columns: 110px 1fr;
  text-align: left;
  align-items: center;
  margin: 5px;
}
.simple-film-card img {
  width: 100px;
}
.simple-movie-title {
  max-width: 20ch;
}

.guest-info {
  display: grid;
  grid-gap: 5px;
  padding: 20px;
  border: 2px solid mediumturquoise;
}

.guest-info p {
  border: 2px dashed mediumturquoise;
  padding: 3px;
  background-color: #48d1cc30;
}
.guest-info p span {
  color: tomato;
}
.guest-btn {
  background-color: transparent;
  border: 2px solid lavender;
  padding: 10px;
  color: lavender;
}

.guest-btn:hover {
  background-color: #ffffff30;
}

.password-btn {
  background-color: transparent;
  border: 2px solid tomato;
  padding: 10px;
  color: lavender;
}
.password-btn:hover {
  background-color: #ff634720;
}

.guest-form label {
  display: grid;
  grid-template-columns: 90px 200px;
  text-align: left;
}

.guest-form input {
  padding-left: 5px;
}

.password-form label {
  grid-template-columns: 250px;
  height: 60px;
}
.label-password {
  position: relative;
}
.label-eye {
  top: 35px;
}
@keyframes cinema {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 1000px) {
  .admin-div {
    grid-template:
      "event recomand " 1fr
      "info  info" auto
      "form  form" auto/
      auto auto;
  }
  .button-div {
    grid-template-columns: auto;
  }
}
@media only screen and (max-width: 600px) {
  .admin-div {
    grid-template:
      "event recomand" 1fr
      "info info" auto
      "form form" auto /
      auto auto;
  }
  .button-div {
    grid-template-columns: auto;
  }
  .film-card {
    grid-template-columns: auto;
  }
}
@media only screen and (max-width: 450px) {
  .admin-div {
    grid-template:
      "event" auto
      "recomand" auto
      "info" auto
      "form " auto /
      auto;
  }
  .span-show-time {
    display: none;
  }
  .button-div {
    grid-template-columns: auto;
  }
}
