.App {
  text-align: center;
}
.root {
  --light-yellow: navajowhite;
}
/* not found page */
.not-found {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  place-content: center;
}
.not-found-img {
  width: 100px;
  animation: cinema 1s ease-in-out;
}
/* header */
.header-img {
  width: 50px;
}
header {
  background-color: navajowhite;
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
header h1 {
  justify-self: start;
}
header button {
  border: none;
  background-color: transparent;
  justify-self: end;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 10fr;
}
main {
  background-color: black;
  display: grid;
  place-content: center;
}
.login-div,
.sign-up-div {
  padding: 20px;
  border-radius: 10px;
  background-color: navajowhite;
}
.login-div h2,
.sign-up-div h2 {
  margin-bottom: 10px;
}
.login-div form {
  display: grid;
  grid-gap: 5px;
  position: relative;
}

.login-div form input,
.sign-up-div form input {
  border: none;
  height: 30px;
  padding-left: 20px;
  border-radius: 5px;
}
.sign-up-button {
  background-color: lightcoral;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
.button-eye {
  position: absolute;
  background-color: transparent;
  border: none;
  right: 5px;
  top: 40px;
}
.eye {
  width: 20px;
}
.sign-up-div form {
  display: grid;
  grid-gap: 5px;
}
.sign-up-div button,
.input-submit {
  margin-top: 5px;
  border: none;
  border-radius: 10px;
  background-color: mediumturquoise;
  padding: 5px 10px;
}

.sign-up-div button:active,
.sign-up-div button:hover,
.input-submit:active,
.input-submit:hover {
  transform: scale(1.1);
  filter: brightness(1.3);
}

@keyframes cinema {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
