.App {
  text-align: center;
}
/* not found page */
.not-found {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  place-content: center;
}
.not-found-img {
  width: 100px;
  animation: cinema 1s ease-in-out;
}
@keyframes cinema {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
